@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Writer Helper</h1>
    <p>
        This project's main goal is to be used as a programming exercise. 
    </p>
    <p>However, it could still be used as tool to help writers think of names for their fictional characters.</p>
</div>
