@model WriterHelperV2.Models.AddEntryNameViewModel

@{
}

<h1> Add Fantasy Name </h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Race</label>
        <input type="text" class="form-control" asp-for="Race" required>
    </div>
    <div class="mb-3">
        <label class="form-label">First / Middle / Last Name</label>
        <input type="text" class="form-control" asp-for="FirstOrMiddleOrLastName" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <input type="text" class="form-control" asp-for="Gender" required>
    </div>
    <button type="submit" class="btn aquamarine fw-bold">Submit</button>
</form>