@model WriterHelperV2.Models.UpdateEntryNameViewModel

@{
}
<h1> Edit Fantasy Name </h1>
<form method="post" action="Update">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Race</label>
        <input type="text" class="form-control" asp-for="Race" required>
    </div>
    <div class="mb-3">
        <label class="form-label">First / Middle / Last Name</label>
        <input type="text" class="form-control" asp-for="FirstOrMiddleOrLastName" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label>
        <input type="text" class="form-control" asp-for="Gender" required>
    </div>
    <button type="submit" class="btn aquamarine fw-bold">Submit Edit</button>
    <button type="submit" class="btn btn-danger fw-bold"
        asp-action="Delete"
        asp-controller="EntryNames">Delete</button>
</form>